.task-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 20px 20px;
  position: relative;
}

.task-strong {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-block {
  white-space: pre-line;
}



.task-heading {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.task-back-button {
  position: static;
  top: 20px;
  right: 20px;
  
  margin: 0px 0px 10px 500px;
  
  /* Можно добавить media-запрос позже для адаптивности */
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.task-item {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  background-color: #fafafa;
}

@media (max-width: 600px) {
  .task-heading {
    font-size: 22px;
    margin: 30px 0 12px;
  }

  .task-back-button {
    position: static;
    margin-bottom: 15px;
  }

  .task-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .task-back-button {
 
  
  margin: 0px 0px 10px 200px;
  
  
}
}
.reset-button-contaner {
  display: flex;
  justify-content: center;
}
.reset-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #f9f9f9;
}

